*{
    margin: 0;
    padding: 0px;box-sizing: border-box;
}
#mainsection{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-color: rgb(2, 2, 58)
    /* background-image: linear-gradient(rgb(243, 180, 243),rgb(204, 135, 239),rgb(192, 224, 244)); */
}
#inputdiv{
    /* border: 1px solid black; */
    width: 50%;
    height: 90vh;
    margin: auto;
    text-align: center;
    padding-top:20px ;
    border-radius: 15px;
    box-shadow: 4px 4px 12px blue;
    background-image: linear-gradient(rgb(243, 180, 243),rgb(204, 135, 239),rgb(192, 224, 244));
}
#inputfield{
    height: 35px;
    width:60%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding:10px;
    /* background: transparent; */
}
#btn{
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 25px 0px 5px 0px;
    padding: 5px;
    /* border: aliceblue; */
}

#listdiv{
    /* border: 1px solid black;  */
    width: 60%;
    padding: auto;
    margin: auto;
    text-align: start;
    /* display: inlinne-block; */
}
#list{
    margin-top: 20px;
    position: relative;
    /* text-align: center; */
    /* display: flex; */
}
#list li{
    list-style: none;
    /* display: flex; */
    /* display: inline-block; */
    padding: 5px;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 10px;
    border-bottom:1px solid black;
    position: relative;
}
.deletebutton{
display: inline;
right: 0;
/* margin-right: 0; */
mix-blend-mode: color-burn;
position: absolute;
border: none;
cursor: pointer;
}
button>img{
    width: 20px;
    height: 20px;
}
.update{
    /* height: 15px; */
    /* width: 10px; */
    /* position: absolute; */
    right: 0;
    /* border-radius: 5px; */
    cursor: pointer;
    display: inline-block;
    position: absolute;
    /* flex: 1; */
    /* margin: 25px 0px; */
    /* padding: 5px; */ 
    
}
#remove1{
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    /* border: aliceblue; */
}





